/* body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
}

#project {
  background-color: blue;
} */
.jumbotron {
  padding-top: 6rem;
  background-color: #770101;
}

#projects {
  background-color: #2c205f;
}
#about {
  background-color: #248f32;
}
#about .-colmd-4 {
  text-align: left;
}
#about .-md-4col {
  text-align: left;
}
#hobby {
  background-color: #085e59;
}
#contact {
  background-color: #3b0958;
}
section {
  padding-top: 5rem;
}
